html{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
  vertical-align: top;
}

.movie-card {
  width: 200px;
  display: inline-block;
  margin: 15px;
  border: 1px solid gray;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card img {
  width: 200px;
}


.movie-details{
  background-color: rgb(61, 3, 3);
  display: flex;
  justify-content: flex-start;
}

.movie-details *{
  color: white;
}

.movie-details>.left>img{
  height: 100vh;
  width: auto;
}

.movie-details>.right{
  padding-left: 15px;
}

.movie-details h1{
  font-size: 4em;
}


@media screen and (max-width:760px) {
  .movie-details{
    background-color: rgb(61, 3, 3);
    display: block;    
  }
  
  .movie-details *{
    color: white;
  }
  
  .movie-details>.left>img{
    width: 100vw;
    height: auto;
  }
  
  .movie-details>.right{
    padding-left: 15px;
  }
  
  .movie-details h1{
    font-size: 4em;
  }
}

